<h1>Page HTML</h1>
<table width="100%" border="0" cellpadding="0">
<tr>
<td>Meta Description</td>
<td><textarea name="metadesc" id="metadesc" cols="45" rows="5"></textarea></td>
</tr>
<tr>
<td>Summary</td>
<td><textarea name="summary" id="summary" cols="45" rows="5"></textarea></td>
</tr>
<tr>
<td>Keywords</td>
<td><input name="keywords" type="text" id="keywords" size="50" /></td>
</tr>
<tr>
<td>Page HTML</td>
<td><?php $spaw1->show();?></td>
</tr>
</table>
<input type="hidden" name="id" id="id" value="<?php echo $id;?>" />